.days {
    margin: 0px;
    padding:  0px;
    
 }
 .days li {
    font-family: 'Talpas';
   
    display: inline-block;
    width: 47px;
    text-align: center;
 }

 .daysNumber {
    padding:  0px;
    margin: 0px;
 }

 .daysNumber li {
    font-family: 'Talpas';
    list-style-type: none;
    display: inline-block;
    width: 37px;
    text-align: center;
    padding: 5px;
    
    
 }