.neville{
    font-family: 'M+ 1mn bold';
    line-height: 80%;
    float: right;
    font-variant: small-caps;
    font-size: 300%;
  }


      
  @font-face {
    font-family: 'Magic School Two';
    src: url('Font/MagicSchoolTwo.ttf');
  }

  @font-face {
    font-family: 'Warownia Black Narrow';
    src: url('Font/WarowniaBlkNrw.ttf');
  }

  @font-face {
    font-family: 'New Comic Title';
    src: url('Font/newcomictitle.ttf');
  }

  @font-face {
    font-family: 'M+ 1mn bold';
    src: url('Font/mplus-1mn-bold.ttf');
  }