.neville{
    font-family: 'Warownia Black Narrow';
    font-size: large;
    
  }
      
  @font-face {
    font-family: 'Magic School Two';
    src: url('Font/MagicSchoolTwo.ttf');
  }

  @font-face {
    font-family: 'Warownia Black Narrow';
    src: url('Font/WarowniaBlkNrw.ttf');
  }

  @font-face {
    font-family: 'New Comic Title';
    src: url('Font/newcomictitle.ttf');
  }