body{
    background-color: rgb(216, 209, 183);
}

.container{
  width: 1390px;
  height: 845px;
display: grid;
grid-template-columns: 340px 25px 105px 240px 315px 25px 340px;
grid-template-rows: 135px 300px 40px 190px 135px 45px;

}

.memo{
 
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}

.longbottom{
  
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.keep{
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}


.potter{
  
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: rgb(0, 0, 0);
  color: rgb(216, 209, 183);
}
.he{
  
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}

.years{
  
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}

.true{
  
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 7;
}

.ImadlakSeverus{
  
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
 
}

.ImádlakMinerva{
 
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5;
}

.story{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
}

.cím{
  
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.python{
  
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  height: max-content;
  width: max-content;
}

.roxfort{
  
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 4;
}

.roxy{
  width: 75%;
}

.school{
  grid-column-end: 8;
  grid-row-start: 2;
}

.divecske{
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 5;
  margin-left: 185px;
}

.stoory{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
  margin-left: 738px;
}

.ujjalso{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
  margin-left: 668px;
  
}